body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(240, 239, 244, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4041 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(55, 62, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u4045 {
  position:absolute;
  left:20px;
  top:18px;
  width:57px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4048 {
  position:absolute;
  left:22px;
  top:25px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
#u4049 {
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4050 {
  position:absolute;
  left:22px;
  top:33px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
#u4051 {
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4053 {
  position:absolute;
  left:3px;
  top:61px;
  width:370px;
  height:40px;
}
#u4054 {
  position:absolute;
  left:2px;
  top:12px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u4055 {
  position:absolute;
  left:186px;
  top:75px;
  width:139px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u4056 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u4057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u4057 {
  position:absolute;
  left:34px;
  top:74px;
  width:71px;
  height:16px;
  color:#666666;
}
#u4058 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
  text-align:center;
}
#u4059 {
  position:absolute;
  left:162px;
  top:72px;
  width:20px;
  height:16px;
  color:#D7D7D7;
  text-align:center;
}
#u4060 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u4061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u4061 {
  position:absolute;
  left:137px;
  top:70px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u4062 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u4063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u4063 {
  position:absolute;
  left:328px;
  top:70px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u4064 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u4065 {
  position:absolute;
  left:2px;
  top:104px;
  width:373px;
  height:545px;
  overflow:hidden;
}
#u4065_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:545px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4065_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:560px;
  overflow:hidden;
}
#u4066_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:560px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u4066_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:1020px;
  background:inherit;
  background-color:rgba(240, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4067 {
  position:absolute;
  left:2px;
  top:0px;
  width:370px;
  height:1020px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:502px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4069 {
  position:absolute;
  left:2px;
  top:548px;
  width:370px;
  height:460px;
}
#u4070 {
  position:absolute;
  left:2px;
  top:222px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4071 {
  position:absolute;
  left:31px;
  top:10px;
  width:99px;
  height:16px;
}
#u4072 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u4073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4073 {
  position:absolute;
  left:21px;
  top:7px;
  width:5px;
  height:22px;
}
#u4074 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4076 {
  position:absolute;
  left:1px;
  top:33px;
  width:370px;
  height:179px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:82px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:179px;
}
#u4078 {
  position:absolute;
  left:31px;
  top:33px;
  width:307px;
  height:179px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:82px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#3A99DE;
  text-align:center;
}
#u4080 {
  position:absolute;
  left:125px;
  top:116px;
  width:120px;
  height:55px;
  font-size:36px;
  color:#3A99DE;
  text-align:center;
}
#u4081 {
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4082 {
  position:absolute;
  left:162px;
  top:190px;
  width:37px;
  height:16px;
  color:#999999;
}
#u4083 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4084 {
  position:absolute;
  left:1px;
  top:248px;
  width:370px;
  height:254px;
}
#u4085 {
  position:absolute;
  left:2px;
  top:119px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:244px;
}
#u4086 {
  position:absolute;
  left:20px;
  top:248px;
  width:323px;
  height:244px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:114px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4088 {
  position:absolute;
  left:30px;
  top:228px;
  width:57px;
  height:16px;
}
#u4089 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4090 {
  position:absolute;
  left:20px;
  top:225px;
  width:5px;
  height:22px;
}
#u4091 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092 {
  position:absolute;
  left:24px;
  top:874px;
  width:335px;
  height:129px;
}
#u4093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u4093 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4094 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u4095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u4095 {
  position:absolute;
  left:146px;
  top:0px;
  width:72px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4096 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u4097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u4097 {
  position:absolute;
  left:218px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4098 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u4099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u4099 {
  position:absolute;
  left:0px;
  top:30px;
  width:146px;
  height:30px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u4100 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u4101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u4101 {
  position:absolute;
  left:146px;
  top:30px;
  width:72px;
  height:30px;
  font-size:14px;
}
#u4102 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u4103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u4103 {
  position:absolute;
  left:218px;
  top:30px;
  width:112px;
  height:30px;
  font-size:14px;
}
#u4104 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u4105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u4105 {
  position:absolute;
  left:0px;
  top:60px;
  width:146px;
  height:34px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u4106 {
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  word-wrap:break-word;
}
#u4107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u4107 {
  position:absolute;
  left:146px;
  top:60px;
  width:72px;
  height:34px;
  font-size:14px;
}
#u4108 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u4109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u4109 {
  position:absolute;
  left:218px;
  top:60px;
  width:112px;
  height:34px;
  font-size:14px;
}
#u4110 {
  position:absolute;
  left:2px;
  top:9px;
  width:108px;
  word-wrap:break-word;
}
#u4111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u4111 {
  position:absolute;
  left:0px;
  top:94px;
  width:146px;
  height:24px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u4112 {
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u4113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u4113 {
  position:absolute;
  left:146px;
  top:94px;
  width:72px;
  height:24px;
  font-size:14px;
}
#u4114 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u4115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u4115 {
  position:absolute;
  left:218px;
  top:94px;
  width:112px;
  height:24px;
  font-size:14px;
}
#u4116 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u4117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A99DE;
}
#u4117 {
  position:absolute;
  left:32px;
  top:848px;
  width:89px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A99DE;
}
#u4118 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4119 {
  position:absolute;
  left:34px;
  top:524px;
  width:85px;
  height:16px;
}
#u4120 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4121 {
  position:absolute;
  left:24px;
  top:521px;
  width:5px;
  height:22px;
}
#u4122 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4123 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#68ACF8;
}
#u4124 {
  position:absolute;
  left:342px;
  top:769px;
  width:25px;
  height:12px;
  font-size:9px;
  color:#68ACF8;
}
#u4125 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:214px;
}
#u4126 {
  position:absolute;
  left:11px;
  top:615px;
  width:333px;
  height:214px;
}
#u4127 {
  position:absolute;
  left:2px;
  top:99px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#68ACF8;
}
#u4128 {
  position:absolute;
  left:111px;
  top:605px;
  width:25px;
  height:12px;
  font-size:9px;
  color:#68ACF8;
}
#u4129 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#68ACF8;
}
#u4130 {
  position:absolute;
  left:329px;
  top:833px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#68ACF8;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#68ACF8;
}
#u4132 {
  position:absolute;
  left:34px;
  top:593px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#68ACF8;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4134 {
  position:absolute;
  left:243px;
  top:671px;
  width:21px;
  height:24px;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4136 {
  position:absolute;
  left:85px;
  top:671px;
  width:21px;
  height:24px;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4138 {
  position:absolute;
  left:243px;
  top:777px;
  width:21px;
  height:24px;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4139 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A99DE;
}
#u4140 {
  position:absolute;
  left:85px;
  top:777px;
  width:21px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A99DE;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4142 {
  position:absolute;
  left:330px;
  top:20px;
  width:25px;
  height:25px;
}
#u4143 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
