body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(240, 239, 244, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(55, 62, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u3967 {
  position:absolute;
  left:20px;
  top:18px;
  width:57px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u3968 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3969 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3970 {
  position:absolute;
  left:22px;
  top:25px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
#u3971 {
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3972 {
  position:absolute;
  left:22px;
  top:33px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
#u3973 {
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3975 {
  position:absolute;
  left:3px;
  top:61px;
  width:370px;
  height:40px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:12px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u3977 {
  position:absolute;
  left:186px;
  top:75px;
  width:139px;
  height:15px;
  font-size:12px;
  color:#666666;
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u3979 {
  position:absolute;
  left:34px;
  top:74px;
  width:85px;
  height:16px;
  color:#666666;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#D7D7D7;
  text-align:center;
}
#u3981 {
  position:absolute;
  left:162px;
  top:72px;
  width:20px;
  height:16px;
  color:#D7D7D7;
  text-align:center;
}
#u3982 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u3983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u3983 {
  position:absolute;
  left:137px;
  top:70px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u3985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u3985 {
  position:absolute;
  left:328px;
  top:70px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  font-size:18px;
  color:#000000;
  text-align:center;
}
#u3986 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u3987 {
  position:absolute;
  left:2px;
  top:104px;
  width:373px;
  height:545px;
  overflow:hidden;
}
#u3987_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:545px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3987_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:560px;
  overflow:hidden;
}
#u3988_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:560px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3988_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:1020px;
  background:inherit;
  background-color:rgba(240, 239, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3989 {
  position:absolute;
  left:2px;
  top:0px;
  width:370px;
  height:1020px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:502px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:460px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3991 {
  position:absolute;
  left:2px;
  top:548px;
  width:370px;
  height:460px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:222px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3993 {
  position:absolute;
  left:31px;
  top:10px;
  width:99px;
  height:16px;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3995 {
  position:absolute;
  left:21px;
  top:7px;
  width:5px;
  height:22px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:179px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3998 {
  position:absolute;
  left:1px;
  top:33px;
  width:370px;
  height:179px;
}
#u3999 {
  position:absolute;
  left:2px;
  top:82px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:179px;
}
#u4000 {
  position:absolute;
  left:31px;
  top:33px;
  width:307px;
  height:179px;
}
#u4001 {
  position:absolute;
  left:2px;
  top:82px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
  color:#3A99DE;
  text-align:center;
}
#u4002 {
  position:absolute;
  left:125px;
  top:116px;
  width:120px;
  height:55px;
  font-size:36px;
  color:#3A99DE;
  text-align:center;
}
#u4003 {
  position:absolute;
  left:0px;
  top:6px;
  width:120px;
  word-wrap:break-word;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u4004 {
  position:absolute;
  left:162px;
  top:190px;
  width:37px;
  height:16px;
  color:#999999;
}
#u4005 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:254px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4006 {
  position:absolute;
  left:1px;
  top:248px;
  width:370px;
  height:254px;
}
#u4007 {
  position:absolute;
  left:2px;
  top:119px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:244px;
}
#u4008 {
  position:absolute;
  left:20px;
  top:248px;
  width:323px;
  height:244px;
}
#u4009 {
  position:absolute;
  left:2px;
  top:114px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4010 {
  position:absolute;
  left:30px;
  top:228px;
  width:57px;
  height:16px;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4012 {
  position:absolute;
  left:20px;
  top:225px;
  width:5px;
  height:22px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4014 {
  position:absolute;
  left:24px;
  top:874px;
  width:335px;
  height:129px;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u4015 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u4016 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u4017 {
  position:absolute;
  left:146px;
  top:0px;
  width:72px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u4019 {
  position:absolute;
  left:218px;
  top:0px;
  width:112px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:30px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:30px;
  width:146px;
  height:30px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u4022 {
  position:absolute;
  left:2px;
  top:7px;
  width:142px;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u4023 {
  position:absolute;
  left:146px;
  top:30px;
  width:72px;
  height:30px;
  font-size:14px;
}
#u4024 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  word-wrap:break-word;
}
#u4025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:30px;
}
#u4025 {
  position:absolute;
  left:218px;
  top:30px;
  width:112px;
  height:30px;
  font-size:14px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:7px;
  width:108px;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:34px;
}
#u4027 {
  position:absolute;
  left:0px;
  top:60px;
  width:146px;
  height:34px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u4028 {
  position:absolute;
  left:2px;
  top:9px;
  width:142px;
  word-wrap:break-word;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u4029 {
  position:absolute;
  left:146px;
  top:60px;
  width:72px;
  height:34px;
  font-size:14px;
}
#u4030 {
  position:absolute;
  left:2px;
  top:9px;
  width:68px;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
}
#u4031 {
  position:absolute;
  left:218px;
  top:60px;
  width:112px;
  height:34px;
  font-size:14px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:9px;
  width:108px;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u4033 {
  position:absolute;
  left:0px;
  top:94px;
  width:146px;
  height:24px;
  font-size:14px;
  color:#1E1E1E;
  text-align:left;
}
#u4034 {
  position:absolute;
  left:2px;
  top:4px;
  width:142px;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
}
#u4035 {
  position:absolute;
  left:146px;
  top:94px;
  width:72px;
  height:24px;
  font-size:14px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:4px;
  width:68px;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u4037 {
  position:absolute;
  left:218px;
  top:94px;
  width:112px;
  height:24px;
  font-size:14px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:4px;
  width:108px;
  word-wrap:break-word;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A99DE;
}
#u4039 {
  position:absolute;
  left:32px;
  top:848px;
  width:89px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#3A99DE;
}
#u4040 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4041 {
  position:absolute;
  left:34px;
  top:524px;
  width:85px;
  height:16px;
}
#u4042 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:22px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  position:absolute;
  left:24px;
  top:521px;
  width:5px;
  height:22px;
}
#u4044 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#68ACF8;
}
#u4046 {
  position:absolute;
  left:342px;
  top:769px;
  width:25px;
  height:12px;
  font-size:9px;
  color:#68ACF8;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:214px;
}
#u4048 {
  position:absolute;
  left:11px;
  top:615px;
  width:333px;
  height:214px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:99px;
  width:329px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#68ACF8;
}
#u4050 {
  position:absolute;
  left:111px;
  top:605px;
  width:25px;
  height:12px;
  font-size:9px;
  color:#68ACF8;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u4052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#68ACF8;
}
#u4052 {
  position:absolute;
  left:329px;
  top:833px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#68ACF8;
}
#u4053 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#68ACF8;
}
#u4054 {
  position:absolute;
  left:34px;
  top:593px;
  width:31px;
  height:13px;
  font-size:10px;
  color:#68ACF8;
}
#u4055 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  white-space:nowrap;
}
#u4056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4056 {
  position:absolute;
  left:243px;
  top:671px;
  width:21px;
  height:24px;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4058 {
  position:absolute;
  left:85px;
  top:671px;
  width:21px;
  height:24px;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4059 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4060 {
  position:absolute;
  left:243px;
  top:777px;
  width:21px;
  height:24px;
  font-size:20px;
  color:rgba(153, 153, 153, 0.517647058823529);
}
#u4061 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A99DE;
}
#u4062 {
  position:absolute;
  left:85px;
  top:777px;
  width:21px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3A99DE;
}
#u4063 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u4064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u4064 {
  position:absolute;
  left:330px;
  top:20px;
  width:25px;
  height:25px;
}
#u4065 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
