body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(240, 239, 244, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1411 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(55, 62, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u1414 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1415 {
  position:absolute;
  left:20px;
  top:22px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1416 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:369px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1417 {
  position:absolute;
  left:3px;
  top:70px;
  width:370px;
  height:369px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:176px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1417_ann {
  position:absolute;
  left:366px;
  top:66px;
  width:1px;
  height:1px;
}
#u1419 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1420 {
  position:absolute;
  left:20px;
  top:250px;
  width:333px;
  height:185px;
}
#u1421_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1421 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1422 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1423_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1423 {
  position:absolute;
  left:109px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1424 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1425_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1425 {
  position:absolute;
  left:218px;
  top:0px;
  width:110px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u1426 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1427 {
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1428 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1429 {
  position:absolute;
  left:109px;
  top:30px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1431_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1431 {
  position:absolute;
  left:218px;
  top:30px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u1432 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1433_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1433 {
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1434 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1435 {
  position:absolute;
  left:109px;
  top:60px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1437_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1437 {
  position:absolute;
  left:218px;
  top:60px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u1438 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1439_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1439 {
  position:absolute;
  left:0px;
  top:90px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1440 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1441 {
  position:absolute;
  left:109px;
  top:90px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1442 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1443_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1443 {
  position:absolute;
  left:218px;
  top:90px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u1444 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1445 {
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1446 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1447 {
  position:absolute;
  left:109px;
  top:120px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1448 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1449 {
  position:absolute;
  left:218px;
  top:120px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1451 {
  position:absolute;
  left:0px;
  top:150px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1453 {
  position:absolute;
  left:109px;
  top:150px;
  width:109px;
  height:30px;
  font-size:12px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  word-wrap:break-word;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:30px;
}
#u1455 {
  position:absolute;
  left:218px;
  top:150px;
  width:110px;
  height:30px;
  font-size:12px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:8px;
  width:106px;
  word-wrap:break-word;
}
#u1457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u1457 {
  position:absolute;
  left:20px;
  top:283px;
  width:335px;
  height:1px;
}
#u1458 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u1459 {
  position:absolute;
  left:20px;
  top:248px;
  width:335px;
  height:1px;
}
#u1460 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1461_img {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u1461 {
  position:absolute;
  left:20px;
  top:429px;
  width:335px;
  height:1px;
}
#u1462 {
  position:absolute;
  left:2px;
  top:-8px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1463 {
  position:absolute;
  left:0px;
  top:449px;
  width:370px;
  height:140px;
}
#u1464 {
  position:absolute;
  left:2px;
  top:62px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1466 {
  position:absolute;
  left:23px;
  top:469px;
  width:70px;
  height:70px;
}
#u1467 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1468 {
  position:absolute;
  left:30px;
  top:549px;
  width:57px;
  height:16px;
}
#u1469 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1471 {
  position:absolute;
  left:154px;
  top:469px;
  width:70px;
  height:70px;
}
#u1472 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u1473_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1473 {
  position:absolute;
  left:161px;
  top:549px;
  width:57px;
  height:16px;
}
#u1474 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1477_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:6px;
}
#u1477 {
  position:absolute;
  left:330px;
  top:34px;
  width:25px;
  height:3px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u1478 {
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:10.5px 7.5px;
  -ms-transform-origin:10.5px 7.5px;
  -moz-transform-origin:10.5px 7.5px;
  -webkit-transform-origin:10.5px 7.5px;
}
#u1479_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:6px;
}
#u1479 {
  position:absolute;
  left:330px;
  top:33px;
  width:25px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u1480 {
  position:absolute;
  left:13px;
  top:-6px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-0.5px 7.5px;
  -ms-transform-origin:-0.5px 7.5px;
  -moz-transform-origin:-0.5px 7.5px;
  -webkit-transform-origin:-0.5px 7.5px;
}
#u1481 {
  position:absolute;
  left:235px;
  top:63px;
  visibility:hidden;
}
#u1481_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1481_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1482 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 62, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1483 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u1484 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
}
#u1486 {
  position:absolute;
  left:11px;
  top:6px;
  width:30px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u1487 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1488 {
  position:absolute;
  left:49px;
  top:8px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
}
#u1490 {
  position:absolute;
  left:11px;
  top:41px;
  width:30px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u1491 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1492_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1492 {
  position:absolute;
  left:49px;
  top:43px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1493 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u1494 {
  position:absolute;
  left:0px;
  top:33px;
  width:120px;
  height:1px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_ann {
  position:absolute;
  left:348px;
  top:18px;
  width:1px;
  height:1px;
}
#u1496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u1497 {
  position:absolute;
  left:285px;
  top:465px;
  width:70px;
  height:70px;
}
#u1498 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1499 {
  position:absolute;
  left:301px;
  top:549px;
  width:47px;
  height:16px;
}
#u1500 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u1502 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:60px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1504 {
  position:absolute;
  left:4px;
  top:606px;
  width:370px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u1505 {
  position:absolute;
  left:2px;
  top:22px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1506 {
  position:absolute;
  left:2px;
  top:606px;
  width:375px;
  height:1px;
  color:#999999;
}
#u1507 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1508 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1509 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1510 {
  position:absolute;
  left:23px;
  top:642px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1511 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1512 {
  position:absolute;
  left:26px;
  top:617px;
  width:23px;
  height:23px;
}
#u1513 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1514 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1515 {
  position:absolute;
  left:125px;
  top:640px;
  width:29px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1516 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1517 {
  position:absolute;
  left:130px;
  top:620px;
  width:20px;
  height:20px;
}
#u1518 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1519 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:13px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1520 {
  position:absolute;
  left:227px;
  top:640px;
  width:29px;
  height:13px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1521 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1522 {
  position:absolute;
  left:231px;
  top:619px;
  width:20px;
  height:20px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1525_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1525 {
  position:absolute;
  left:327px;
  top:638px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1526 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u1527 {
  position:absolute;
  left:332px;
  top:620px;
  width:20px;
  height:20px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1530 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1531 {
  position:absolute;
  left:22px;
  top:638px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u1532 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u1533 {
  position:absolute;
  left:25px;
  top:615px;
  width:23px;
  height:23px;
  font-size:14px;
}
#u1534 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:119px;
}
#u1535 {
  position:absolute;
  left:129px;
  top:119px;
  width:120px;
  height:119px;
}
#u1536 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(65, 113, 156, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1537 {
  position:absolute;
  left:40px;
  top:291px;
  width:10px;
  height:10px;
}
#u1538 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(76, 132, 182, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1539 {
  position:absolute;
  left:40px;
  top:321px;
  width:10px;
  height:10px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(86, 148, 203, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1541 {
  position:absolute;
  left:40px;
  top:351px;
  width:10px;
  height:10px;
}
#u1542 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1543_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(122, 169, 218, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1543 {
  position:absolute;
  left:40px;
  top:382px;
  width:10px;
  height:10px;
}
#u1544 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1545_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
  background:inherit;
  background-color:rgba(164, 192, 227, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1545 {
  position:absolute;
  left:40px;
  top:411px;
  width:10px;
  height:10px;
}
#u1546 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u1547 {
  position:absolute;
  left:47px;
  top:80px;
  width:85px;
  height:16px;
  color:#666666;
}
#u1548 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1549 {
  position:absolute;
  left:18px;
  top:76px;
  width:25px;
  height:25px;
}
#u1550 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1551 {
  position:absolute;
  left:133px;
  top:73px;
  width:15px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1552 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  word-wrap:break-word;
}
