body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:377px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(240, 239, 244, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1862 {
  position:absolute;
  left:2px;
  top:0px;
  width:375px;
  height:667px;
}
#u1863 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(55, 62, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1864 {
  position:absolute;
  left:2px;
  top:0px;
  width:375px;
  height:60px;
}
#u1865 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1866 {
  position:absolute;
  left:22px;
  top:19px;
  width:93px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u1867 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
#u1868 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1869 {
  position:absolute;
  left:24px;
  top:26px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
#u1870 {
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1871 {
  position:absolute;
  left:24px;
  top:34px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
#u1872 {
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1874 {
  position:absolute;
  left:11px;
  top:68px;
  width:360px;
  height:49px;
}
#u1875 {
  position:absolute;
  left:2px;
  top:16px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1876 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u1877 {
  position:absolute;
  left:23px;
  top:82px;
  width:16px;
  height:16px;
  font-size:12px;
}
#u1878 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:4px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1879 {
  position:absolute;
  left:34px;
  top:96px;
  width:14px;
  height:4px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:12px;
}
#u1880 {
  position:absolute;
  left:2px;
  top:-6px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:363px;
  height:5px;
}
#u1881 {
  position:absolute;
  left:11px;
  top:116px;
  width:360px;
  height:2px;
}
#u1882 {
  position:absolute;
  left:2px;
  top:-7px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u1883 {
  position:absolute;
  left:57px;
  top:84px;
  width:29px;
  height:16px;
  color:#999999;
}
#u1884 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1885 {
  position:absolute;
  left:4px;
  top:128px;
  width:370px;
  height:236px;
}
#u1886 {
  position:absolute;
  left:2px;
  top:110px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1888 {
  position:absolute;
  left:26px;
  top:145px;
  width:100px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1889 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  word-wrap:break-word;
}
#u1890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1890 {
  position:absolute;
  left:138px;
  top:145px;
  width:100px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1891 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  word-wrap:break-word;
}
#u1892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1892 {
  position:absolute;
  left:253px;
  top:145px;
  width:100px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1893 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  word-wrap:break-word;
}
#u1894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:256px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1894 {
  position:absolute;
  left:4px;
  top:395px;
  width:370px;
  height:256px;
  font-size:16px;
}
#u1895 {
  position:absolute;
  left:2px;
  top:120px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u1896 {
  position:absolute;
  left:29px;
  top:450px;
  width:113px;
  height:19px;
  font-size:16px;
  color:#000000;
}
#u1897 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1898 {
  position:absolute;
  left:29px;
  top:521px;
  width:273px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u1900 {
  position:absolute;
  left:26px;
  top:510px;
  width:327px;
  height:1px;
  font-size:16px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
}
#u1902 {
  position:absolute;
  left:29px;
  top:593px;
  width:177px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u1903 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u1904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:2px;
}
#u1904 {
  position:absolute;
  left:26px;
  top:582px;
  width:327px;
  height:1px;
  font-size:16px;
}
#u1905 {
  position:absolute;
  left:2px;
  top:-8px;
  width:323px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1907 {
  position:absolute;
  left:26px;
  top:249px;
  width:100px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1908 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  word-wrap:break-word;
}
#u1909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1909 {
  position:absolute;
  left:138px;
  top:249px;
  width:100px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1910 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  word-wrap:break-word;
}
#u1911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:91px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1911 {
  position:absolute;
  left:253px;
  top:249px;
  width:100px;
  height:91px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:36px;
  width:96px;
  word-wrap:break-word;
}
#u1913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1913 {
  position:absolute;
  left:256px;
  top:484px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1914 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1915 {
  position:absolute;
  left:26px;
  top:482px;
  width:79px;
  height:19px;
  font-size:12px;
  color:#999999;
}
#u1916 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u1917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1917 {
  position:absolute;
  left:256px;
  top:557px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1918 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1919 {
  position:absolute;
  left:26px;
  top:553px;
  width:79px;
  height:19px;
  font-size:12px;
  color:#999999;
}
#u1920 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u1921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1921 {
  position:absolute;
  left:256px;
  top:624px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u1922 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:25px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u1923 {
  position:absolute;
  left:26px;
  top:622px;
  width:79px;
  height:19px;
  font-size:12px;
  color:#999999;
}
#u1924 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  word-wrap:break-word;
}
#u1925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1925 {
  position:absolute;
  left:26px;
  top:410px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:2px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:443px;
  width:376px;
  height:1px;
  font-size:16px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:-8px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#008000;
}
#u1929 {
  position:absolute;
  left:291px;
  top:415px;
  width:63px;
  height:15px;
  font-size:12px;
  color:#008000;
}
#u1930 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  white-space:nowrap;
}
#u1932 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1933_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:6px;
}
#u1933 {
  position:absolute;
  left:332px;
  top:36px;
  width:25px;
  height:3px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#FFFFFF;
}
#u1934 {
  position:absolute;
  left:2px;
  top:-6px;
  width:21px;
  visibility:hidden;
  -webkit-transform:rotate(-180deg);
  -moz-transform:rotate(-180deg);
  -ms-transform:rotate(-180deg);
  transform:rotate(-180deg);
  word-wrap:break-word;
  transform-origin:10.5px 7.5px;
  -ms-transform-origin:10.5px 7.5px;
  -moz-transform-origin:10.5px 7.5px;
  -webkit-transform-origin:10.5px 7.5px;
}
#u1935_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:6px;
}
#u1935 {
  position:absolute;
  left:332px;
  top:35px;
  width:25px;
  height:3px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  color:#FFFFFF;
}
#u1936 {
  position:absolute;
  left:13px;
  top:-6px;
  width:1px;
  visibility:hidden;
  -webkit-transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  transform:rotate(-90deg);
  word-wrap:break-word;
  transform-origin:-0.5px 7.5px;
  -ms-transform-origin:-0.5px 7.5px;
  -moz-transform-origin:-0.5px 7.5px;
  -webkit-transform-origin:-0.5px 7.5px;
}
#u1937 {
  position:absolute;
  left:237px;
  top:65px;
  visibility:hidden;
}
#u1937_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1937_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
  background:inherit;
  background-color:rgba(55, 62, 70, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1939 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:27px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
}
#u1942 {
  position:absolute;
  left:11px;
  top:6px;
  width:30px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u1943 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1944 {
  position:absolute;
  left:49px;
  top:8px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1945 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
}
#u1946 {
  position:absolute;
  left:11px;
  top:41px;
  width:30px;
  height:20px;
  font-size:12px;
  color:#999999;
}
#u1947 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  word-wrap:break-word;
}
#u1948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1948 {
  position:absolute;
  left:49px;
  top:43px;
  width:57px;
  height:16px;
  color:#FFFFFF;
}
#u1949 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:2px;
}
#u1950 {
  position:absolute;
  left:0px;
  top:33px;
  width:120px;
  height:1px;
}
#u1951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
