body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
<<<<<<< HEAD
#u2398 {
  border-width:0px;
=======
#u2400 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u2399_div {
  border-width:0px;
=======
#u2401_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2399 {
  border-width:0px;
=======
#u2401 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:121px;
  top:88px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2400 {
  border-width:0px;
=======
#u2402 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u2401_div {
  border-width:0px;
=======
#u2403_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2401 {
  border-width:0px;
=======
#u2403 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:121px;
  top:96px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2402 {
  border-width:0px;
=======
#u2404 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u2404_div {
  border-width:0px;
=======
#u2406_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(240, 239, 244, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2404 {
  border-width:0px;
=======
#u2406 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
<<<<<<< HEAD
#u2405 {
  border-width:0px;
=======
#u2407 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u2406_div {
  border-width:0px;
=======
#u2408_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
  background:inherit;
  background-color:rgba(55, 62, 70, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2406 {
  border-width:0px;
=======
#u2408 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
<<<<<<< HEAD
#u2407 {
  border-width:0px;
=======
#u2409 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u2408_div {
  border-width:0px;
=======
#u2410_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
<<<<<<< HEAD
  font-family:'ArialMT', 'Arial';
=======
  font-family:'Arial Normal', 'Arial';
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2408 {
  border-width:0px;
=======
#u2410 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:21px;
  top:20px;
  width:93px;
  height:22px;
<<<<<<< HEAD
  font-family:'ArialMT', 'Arial';
=======
  font-family:'Arial Normal', 'Arial';
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2409 {
  border-width:0px;
=======
#u2411 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u2410 {
  border-width:0px;
=======
#u2412 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u2411_div {
  border-width:0px;
=======
#u2413_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2411 {
  border-width:0px;
=======
#u2413 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:20px;
  top:26px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2412 {
  border-width:0px;
=======
#u2414 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u2413_div {
  border-width:0px;
=======
#u2415_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:2px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2413 {
  border-width:0px;
=======
#u2415 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:20px;
  top:34px;
  width:14px;
  height:2px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2414 {
  border-width:0px;
=======
#u2416 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:-7px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u2415 {
  border-width:0px;
=======
#u2417 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
<<<<<<< HEAD
#u2416_div {
  border-width:0px;
=======
#u2418_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:265px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2416 {
  border-width:0px;
=======
#u2418 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:8px;
  top:69px;
  width:360px;
  height:265px;
}
<<<<<<< HEAD
#u2417 {
  border-width:0px;
=======
#u2419 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:124px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u2418_div {
  border-width:0px;
=======
#u2420_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
<<<<<<< HEAD
#u2418 {
  border-width:0px;
=======
#u2420 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:20px;
  top:238px;
  width:113px;
  height:19px;
  font-size:16px;
}
<<<<<<< HEAD
#u2419 {
  border-width:0px;
=======
#u2421 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u2420_div {
  border-width:0px;
=======
#u2422_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:28px;
  background:inherit;
  background-color:rgba(59, 118, 234, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2420 {
  border-width:0px;
=======
#u2422 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:284px;
  top:234px;
  width:68px;
  height:28px;
  color:#FFFFFF;
}
<<<<<<< HEAD
#u2421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u2422_img {
  border-width:0px;
=======
#u2423 {
  position:absolute;
  left:2px;
  top:6px;
  width:64px;
  word-wrap:break-word;
}
#u2424_img {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
<<<<<<< HEAD
#u2422 {
  border-width:0px;
=======
#u2424 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:18px;
  top:276px;
  width:336px;
  height:1px;
}
<<<<<<< HEAD
#u2423 {
  border-width:0px;
=======
#u2425 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u2424_div {
  border-width:0px;
=======
#u2426_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
<<<<<<< HEAD
#u2424 {
  border-width:0px;
=======
#u2426 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:219px;
  top:287px;
  width:135px;
  height:15px;
  font-size:12px;
  color:#999999;
}
<<<<<<< HEAD
#u2425 {
  border-width:0px;
=======
#u2427 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
<<<<<<< HEAD
#u2426_img {
  border-width:0px;
=======
#u2428_img {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:159px;
}
<<<<<<< HEAD
#u2426 {
  border-width:0px;
=======
#u2428 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:8px;
  top:69px;
  width:360px;
  height:159px;
}
<<<<<<< HEAD
#u2427 {
  border-width:0px;
=======
#u2429 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
<<<<<<< HEAD
#u2428_div {
  border-width:0px;
=======
#u2430_div {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:159px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.376470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
<<<<<<< HEAD
#u2428 {
  border-width:0px;
=======
#u2430 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:8px;
  top:69px;
  width:360px;
  height:159px;
}
<<<<<<< HEAD
#u2429 {
  border-width:0px;
=======
#u2431 {
>>>>>>> 6293f2f624a68b43ce5e6dd1ae3468b296bff4b8
  position:absolute;
  left:2px;
  top:72px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
