body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:3794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3794px;
  height:929px;
}
#u2415 {
  position:absolute;
  left:0px;
  top:0px;
  width:3794px;
  height:929px;
}
#u2416 {
  position:absolute;
  left:2px;
  top:456px;
  width:3790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:3442px;
  height:865px;
}
#u2417 {
  position:absolute;
  left:300px;
  top:939px;
  width:3442px;
  height:865px;
}
#u2418 {
  position:absolute;
  left:2px;
  top:424px;
  width:3438px;
  visibility:hidden;
  word-wrap:break-word;
}
